# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @sovereignio/core-contributor
resources/lang @sovereignio/translation-approver
resources/lang/en.json @sovereignio/core-contributor
